<div class="tab-pane fade" id="jobs-applications">
    <h3>Existing Jobs</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Applicant Name</th>
                <th>Email</th>
                <th>Cover Letter</th>
                <th>Applied At</th>
                <th>CV </th>
            </tr>
        </thead>
        <tbody>
            <% applications.forEach(j=> { %>
                <tr>
                    <td>
                        <%= j.name %>
                    </td>
                    <td>
                        <%= j.email %>
                    </td>
                    <td>
                        <%= j.coverLetter %>
                    </td>
                    <td>
                        <%= j.appliedAt || '' %>
                    </td>
                    <td>
                        <% if (j.cv) { %>
                            <a href="/uploads/<%= j.cv %>" download>
                                <i class="fas fa-file-download"></i> Download CV
                            </a>
                            <% } else { %>
                                <span class="text-muted">No CV</span>
                                <% } %>
                    </td>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>