<div class="tab-pane fade" id="shortcourses">
    <h3>Short Course Applicant</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Citizenship</th>
                <th>Phone Number</th>
                <th>Program registered</th>
                <th>Mode of Learning</th>
                <th>Signature</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% shortCourseApplicants.forEach(s=> { %>
                <tr>
                    <td>
                        <%= s.firstName %>
                            <%= s.lastName %>
                    </td>
                    <td>
                        <%= s.email %>
                    </td>
                    <td>
                        <%= s.dob %>
                    </td>
                    <td>
                        <%= s.gender %>
                    </td>
                    <td>
                        <%= s.citizenship %>
                    </td>
                    <td>
                        <%= s.programmeLevel %>
                    </td>
                    <td>
                        <%= s.studyMode %>
                    </td>
                    <td>
                        <%= s.signature %>
                    </td>
                    <td>
                    <td>
                        <form action="mailto:<%= s.email %>" method="POST" class="d-inline"
                            onsubmit="return confirm('You are about to send an email to this applicant. Do you want to continue?');">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-envelope"></i> Send Email
                            </button>
                        </form>
                    </td>
                    <td></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>